@using Project_X_2._0.ExtensionMethods;
@model Project_X_2._0.Entities.Trip


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Trip</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Place.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Place.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostPerHead)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostPerHead)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit |", "Edit", new { id = Model.TripID }).If(User.IsInRole("Admin"))
    @Html.ActionLink("Back to List", "Index")
</p>
