@using Project_X_2._0.ExtensionMethods;
@model IEnumerable<Project_X_2._0.Entities.Trip>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create").If(User.IsInRole("Admin"))
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Place.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CostPerHead)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Place.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CostPerHead)
        </td>
        <td>
            @Html.ActionLink("Edit |", "Edit", new { id=item.TripID }).If(User.IsInRole("Admin"))
            @Html.ActionLink("Details", "Details", new { id=item.TripID })
            @Html.ActionLink("| Delete", "Delete", new { id=item.TripID }).If(User.IsInRole("Admin"))
        </td>
    </tr>
}

</table>
